@import url('https://fonts.googleapis.com/css?family=Merriweather|Oswald|Ramabhadra');

body {
    background: url(images/background.jpg);
    background-position: center;
	background-size:cover;
	text-align: center;
}
h1 {
    color: #A9A9A9;
	font-family: 'Ramabhadra', sans-serif, 'Arial';
	font-size: 48px;
	line-height: 1.1em;
}
h2 {
	color: #f47a21;
	font-family: 'Ramabhadra', sans-serif, 'Arial','Helvetica Neue','Helvetica,sans-serif';
	letter-spacing: 0.1em;
}
p {
	color: #111112;
	width: 12em;
	align-items: center;
	font-size: 20px;
    margin-left: 7.5em;
	font-family: 'Merriweather', serif, 'Arial', 'Helvetica Neue','Helvetica,sans-serif';
}
tech {
	position:absolute;
	margin: 725px 0px 0 100px;
}
section {
  float: left;
  width: 30%;
  text-align:center;
}
footer {
  clear: both;
  margin-bottom: 25px;
}