body {
    background: url(images/background.jpg);
    background-position: center;
	background-size:cover;
	text-align: center;
}
h1, p {
    color: #f47a21;
	font-family: "Knockout 47 A",Arial;
}
h2 {
	color: #111112;
	font-family: "Knockout 47 A",Arial,"Helvetica Neue",Helvetica,sans-serif;
}
section {
  float: left;
  width: 30%;
}
p {
	width: 7em;
}
footer {
  clear: both;
  margin-bottom: 0;
}