@import url('https://fonts.googleapis.com/css?family=Merriweather|Oswald|Ramabhadra');

body {
    background: url(images/background.jpg);
    background-position: center;
	background-size:cover;
	text-align: center;
}
h1 {
    color: #A9A9A9;
	font-family: 'Ramabhadra', sans-serif, 'Arial';
	font-size: 48px;
	line-height: 0.4em; 
	text-align: left;
	margin-left: 250px;
	display: block;
	background-color: #f47a21;
	margin-right: 886px;
}
h2 {
	color: #f47a21;
	font-family: 'Ramabhadra', sans-serif, 'Arial','Helvetica Neue','Helvetica,sans-serif';
	letter-spacing: 0.1em;
	font-size: 21px;
    line-height: 1.2em;
}
p {
	color: #111112;
	width: 12em;
	align-items: center;
	font-size: 16px;
	font-family: 'Merriweather', serif, 'Arial', 'Helvetica Neue','Helvetica,sans-serif';
}
header {
	background-color: #f47a21;
}
tech {
	position:absolute;
	margin: 0px 0px 0px 90px;
}
section {
  float: left;
  width: 30%;
  text-align:center;
  padding-left: 22px;
}
footer {
  clear: both;
  margin-bottom: 25px;
}