body {
    background: url(images/background.jpg);
    background-position: center;
	background-size:cover;
	text-align: center;
}
h1, p {
    color: #f47a21;
	font-family: "Knockout 47 A",Arial;
}
h2 {
	color: #111112;
	font-family: "Knockout 47 A",Arial,"Helvetica Neue",Helvetica,sans-serif;
}
tech1 {
	position: absolute;
    top: 356px;
    left: 488px;
    text-align: right;
    width: 258px;

}